.fuente
{
    font-family: 'Festivo', cursiva;
}

.fondo
{
    background-color: rgba(12, 175, 240, 0.979);
}

.fondoapp
{
    background-image: url('../img/imagenfondo.jpg');
    background-attachment: fixed;
    height: 400px;
}

.fondoPrincipal
{
    background-color: rgba(18, 113, 190, 0.637) !important;
}

.zoom
{
    transition: transform .2s;
}

.zoom:hover
{
    transform: scale(1.3);
}

.imagenes img
{
    height: 800px;
    width: 800px;
}

.lista
{
    list-style: none;
}

.lista img
{
    height: 80px;
}

.lista li
{
    margin: 5px 25px;
}